
@{
    ViewBag.Title = "后台用户列表";
}
<table id="User"></table>
<div id="User_toolbar" style="padding:5px;">
    <form id="searchForm">
        <div style="margin-bottom:5px">
            <span>模糊查询</span>
            <input class="easyui-textbox" name="sKeyWord" data-options="width:180,height:22,required:false,prompt:'账号/姓名'">
            <a class="easyui-linkbutton search" data-options="iconCls:'icon-search'">查 询</a>
        </div>
    </form>
    <a class="easyui-linkbutton add" data-options="iconCls:'icon-add',plain:true">添加管理员</a>
    <a class="easyui-linkbutton edit" data-options="iconCls:'icon-edit',plain:true">修改密码</a>
    <a class="easyui-linkbutton cancel" data-options="iconCls:'icon-cancel',plain:true">删除</a>
</div>
<script type="text/javascript">
    $(function () {
        var admin = new adminPackage();
        //注册路由
        admin.routeRegister("User");

        //查询操作
        $('#searchForm .search').on("click", function () {
            var params = $(admin.searchform).serializeArray().toObject();
            admin.grid.datagrid({
                queryParams: params
            })
        });

        //新增操作
        $('.add').on("click", function () {
            var dialog = admin.dialog(admin.route('Add'), "添加管理员", function (r) {
                if ($(admin.form).form('validate')) {
                    admin.button.disable();
                    var data = $(admin.form).serialize();
                    admin.Ajax(admin.route('Insert'), data, function (r) {
                        admin.alert("添加成功");
                        dialog.dialog('close');
                        admin.grid.datagrid("reload");
                    });
                }
            },300,280);
        });

        //修改密码操作
        $('.edit').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if (selected.length == 1) {
                var dialog = admin.dialog(admin.route('Edit') + "?ID="+selected[0].ID, "修改密码", function (r) {
                    if ($(admin.form).form('validate')) {
                        admin.button.disable();
                        var data = $(admin.form).serialize();
                        admin.Ajax(admin.route('Update'), data, function (r) {
                            admin.alert("修改成功");
                            dialog.dialog('close');
                        });
                    }
                }, 300, 200);
            }
            else {
                admin.alert("请选择一条数据进行操作!");
            }
        });

        //删除操作
        $('.cancel').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if (selected.length > 0) {
                admin.confirm("确定要删除选择的管理员", function () {
                    var Ids = [];
                    $(selected).each(function () {
                        Ids.push(this.ID);
                    });
                    admin.Ajax(admin.route("Cancel"), { Ids: Ids.join() }, function (r) {
                        admin.alert("删除成功");
                        admin.grid.datagrid("reload");
                        admin.grid.datagrid("clearSelections");
                    });
                });
            }
            else {
                admin.alert("请选择数据进行操作!");
            }
        });

        /*!
        * method:数据列表(datagrid)的绑定
        */
        admin.grid.datagrid({
            url: admin.route('List'),
            toolbar: admin.toolbar,
            fitColumns:false,
            columns: [[
                { field: 'sUserName', title: '账号', align: 'center', width: 120 },
                { field: 'sRealName', title: '姓名', align: 'center', width: 150 },
                { field: 'sPhone', title: '电话', align: 'center', width: 150 },
            ]],
            onLoadSuccess: function () {
                admin.grid.datagrid('resize');
            }
        });

    });




</script>


