<div class="foot">
        <div class="ft-menu">
            <div class="container">
                <div class="menu">
                    <div>
                        <a style="color: white;font-size: 16px;">友情链接</a>
                    </div>
                    <dl>
                        <dd>
                            <a href="#">泸州公安公众信息网</a>
                            <a href="#">四川道路交通安全网</a>
                            <a href="#">泸州市人民政府公众信息网</a>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <a href="#">泸州公安公众信息网</a>
                            <a href="#">四川道路交通安全网</a>
                            <a href="#">泸州市人民政府公众信息网</a>
                        </dd>
                    </dl>
                    <dl>

                        <dd>
                            <a href="#">泸州公安公众信息网</a>
                            <a href="#">四川道路交通安全网</a>
                            <a href="#">泸州市人民政府公众信息网</a>
                        </dd>
                    </dl>
                    <dl class="last">
                        <dd>
                            <p>联系地址：中卫市沙坡头区清风路55号（市财政局后楼四楼）</p>
                            <p>邮政编码：755000</p>
                            <p>咨询电话：0955-7674885</p>
                            <p>电子邮件：zwzcwyh@163.com</p>
                            <p>网　　址：www.zwzcwyh.com</p>
                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                </div>
                <div class="ewm">
                    <img src="/Html/images/ewm.png" />
                    <p>扫码关注公众号</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cop">
            <div class="container" style="text-align:center">Copyright © 2013 - 2017 www.zwzcwyh.com All Rights Reserved  ICP备14031554号-4 公网安备32131102000333号</div>
        </div>
    </div>