<div class="foot">
        <div class="ft-menu">
            <div class="container">
            
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cop">
           
        </div>
    </div>