@using Web.Server;
@using Web.Models;
@{  
    TG_Category category = Model as TG_Category;
    if (category.CategoryId != 0)
    {
        category = FuncHelper.Instance.GetCategoryById(category.CategoryId);
    }
}
<div class="header">
    <div class="container">
        <div id="weather"></div>
        <div class="toptxt"><a id="requestCount" style="color:#0594c9">访问量:</a></div>
        <div class="logo"><a href="#"><img src="/Html/images/logo.png" /></a></div>
        <div class="search">
            <input type="text" class="ipt-sea" placeholder="请输入搜索关键词" />
            <a href="javascript:;">搜索</a>
        </div>
    </div>
</div>
<div class="nav">
    <table style="WIDTH: 100%; BORDER-COLLAPSE: collapse" bordercolor="#999999" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="WIDTH: 246px; TEXT-ALIGN: left" rowspan="2">
                <a style="position:relative">
                    <img style="margin-top:10px;" src="~/Html/images_menu/select.png" />
                    <span style="position: absolute;
                        display: inline-block;
                        width: 100px;
                        color: white;
                        right: 30px;
                        bottom: 50px;
                        font-size: 24px;">@category.sName</span>
                </a>
                </td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left">
                    <a href="/Html/zcfg/jtfg_1.html">
                    <img src="~/Html/images_menu/4.gif" 
                         onmouseover="this.src = '/Html/images_menu/4-4.gif'"
                         onmouseout="this.src='/Html/images_menu/4.gif'" />
                    </a>
                </td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left">
                    <a href="/Html/jwgk/zdjs.html">
                        <img src="~/Html/images_menu/3.gif"
                             onmouseover="this.src = '/Html/images_menu/3-3.gif'"
                             onmouseout="this.src='/Html/images_menu/3.gif'" />
                   </a>
                </td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left">
                    <a href="/Html/wscgs/ywzxly.html">
                        <img src="~/Html/images_menu/5.gif"
                             onmouseover="this.src = '/Html/images_menu/5-5.gif'"
                             onmouseout="this.src='/Html/images_menu/5.gif'" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="HEIGHT: 78px; TEXT-ALIGN: left">
                        <a href="/Html/jtxt/aqcs_1.html">
                            <img src="~/Html/images_menu/1.gif"
                                 onmouseover="this.src = '/Html/images_menu/1-1.gif'"
                                 onmouseout="this.src='/Html/images_menu/1.gif'" />
                    </a>
                </td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left">
                    <a href="/Html/fdjl/jcjj.html">
                        <img src="~/Html/images_menu/2.gif"
                             onmouseover="this.src = '/Html/images_menu/2-2.gif'"
                             onmouseout="this.src='/Html/images_menu/2.gif'" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>