@using Web.Server;
<div class="header">
    <div class="container">
        <div id="weather"></div>
        <div class="toptxt"><a href="#">管理员登陆</a>|<a href="#">天气</a></div>
        <div class="logo"><a href="#"><img src="images/logo.png" /></a></div>
        <div class="search">
            <input type="text" class="ipt-sea" placeholder="请输入搜索关键词" />
            <a href="javascript:;">搜索</a>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="" id="navul">
        @foreach (var category in FuncHelper.Instance.GetShowCategory())
        {
            <li>
                <a href="@FuncHelper.Instance.GetCategoryHtmlUrl(category.ID)">@category.sName</a>
                @{ var childList = FuncHelper.Instance.GetChildCategory(category.ID); }
                @if (childList.Count > 0)
                {
                    <ul>
                        @foreach (var item in childList)
                        {
                            <li><a href="@FuncHelper.Instance.GetCategoryHtmlUrl(item.ID)">@item.sName</a></li>
                        }
                    </ul>
                }
            </li>
         }
    </ul>
</div>