@using Web.Server;
@using Web.Models;
<div class="header">
    <div class="container">
        <div id="weather"></div>
        <div class="toptxt"><a id="requestCount" style="color:#0594c9">访问量:</a></div>
        <div class="logo"><a href="#"><img src="/Html/images/logo.png" /></a></div>
        <div class="search">
            <input type="text" class="ipt-sea" placeholder="请输入搜索关键词" />
            <a href="javascript:;">搜索</a>
        </div>
    </div>
</div>
<div class="nav">
    <table style="WIDTH: 100%; BORDER-COLLAPSE: collapse" bordercolor="#999999" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="WIDTH: 246px; TEXT-ALIGN: left" rowspan="2"><a href="default.php?mod=article&amp;fid=1"><img style="margin-top:10px;" src="http://www.sclzga.gov.cn/files/103233/1707/x_749130.png" /></a></td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left"><a href="default.php?mod=c&amp;s=ss8a50ffa"><img src="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" onmouseover="special_asqewrqdfad2(this)" onmouseout="special_asqewrqdfad3(this)" sbgimg="files/103233/1707/x_8e9156.gif" sbgimg1="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" /></a></td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left"><a href="default.php?mod=c&amp;s=ss8a50ffa"><img src="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" onmouseover="special_asqewrqdfad2(this)" onmouseout="special_asqewrqdfad3(this)" sbgimg="files/103233/1707/x_8e9156.gif" sbgimg1="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" /></a></td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left"><a href="default.php?mod=c&amp;s=ss8a50ffa"><img src="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" onmouseover="special_asqewrqdfad2(this)" onmouseout="special_asqewrqdfad3(this)" sbgimg="files/103233/1707/x_8e9156.gif" sbgimg1="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" /></a></td>
            </tr>
            <tr>
                <td style="HEIGHT: 78px; TEXT-ALIGN: left"><a href="default.php?mod=c&amp;s=ssd9cd2bd"><img src="http://www.sclzga.gov.cn/files/103233/1707/x_e89199.gif" onmouseover="special_asqewrqdfad2(this)" onmouseout="special_asqewrqdfad3(this)" sbgimg="files/103233/1707/x_c0c147.gif" sbgimg1="http://www.sclzga.gov.cn/files/103233/1707/x_e89199.gif" /></a></td>
                <td style="HEIGHT: 76px; WIDTH: 322px; TEXT-ALIGN: left"><a href="default.php?mod=c&amp;s=ss8a50ffa"><img src="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" onmouseover="special_asqewrqdfad2(this)" onmouseout="special_asqewrqdfad3(this)" sbgimg="files/103233/1707/x_8e9156.gif" sbgimg1="http://www.sclzga.gov.cn/files/103233/1707/x_c08121.gif" /></a></td>
            </tr>
        </tbody>
    </table>
</div>